<!DOCTYPE html>
<html ng-app="notesApp" ng-controller="initNotes">
<head lang="en">
    <meta charset="UTF-8">
    <title ng-bind-template="{{ title }}"></title>
    <link rel="stylesheet" href="view/notes.css">

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="model/note.js"></script>
    <script src="model/notes.js"></script>
    <script src="model/persistence.js"></script>
    <script src="controller.js"></script>
    <script src="view/filter.js"></script>
</head>
<body>
    <div class="note-app">
        <h1>{{ title }}</h1>
        <ul class="note-list">
            <li class="note-item note-header">
                <input type="text" placeholder="Type text to search or enter title to create notes" class="note-input" ng-model="inputText" ng-change="fetchNotes()" ng-keydown="onKeyDown($event)">
                <input type="button" value="+" class="note-create-button" ng-click="createNote()">
            </li>
            <li class="note-item" ng-repeat="note in notes">
                <span class="note-title-text">{{ note.title }}</span>
                <input type="text" ng-model="note.title" class="note-title-edit" placeholder="Note title" ng-change="updateNote(note)">

                <span class="note-datetime-text" ng-bind-html="note.timestamp | toDateTime"></span>
                <input type="button" value="x" class="note-delete-button" ng-click="deleteNote(note)">

                <span class="note-content-text" ng-bind-html="note.content | toTextLines"></span>
                <textarea class="note-content-edit" placeholder="Note content" ng-model="note.content" ng-change="updateNote(note)"></textarea>
            </li>
        </ul>
    </div>
</body>
</html>
